*{
    margin: 0rem;
    box-sizing: border-box;
}

.auth-page{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.right-section{
    width: 30rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(61, 58, 58, 0);
}

.posts{
    width: 40rem;
}

a{
    color: #000 !important;
}
